.img-container-contacts {
    background-image: url("../assets/contactPage.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 25rem;
}