.img-container {
    background-image: url("../assets/val-thores3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 30rem;
}