.page-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid var(--dropdown);
    border-bottom: 2px solid var(--dropdown);
    text-align: center;


    .page-title {
        padding: 3rem 2rem 1rem;
        color: var(--mainText);
        font-weight: 600;
        font-size: 1.8rem;
    }
    
    .page-title2 {
        padding: 0rem 2rem 3.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--mainText);
    }
}

