.carousel-wrapper {
    margin: 0rem .5rem 0;
}

.swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    object-fit:cover;
    margin: 1rem 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.884) 0px 10px 10px -10px;
}

div .swiper-button-prev { 
    color: var(--dropdown); 
    color: var(--navbar);
    font-weight: 600;
}

div .swiper-button-next {
    color: var(--dropdown);
    color: var(--navbar);
    font-weight: 600;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--dropdown);
    background: var(--navbar);
}

.swiper-pagination .swiper-pagination-bullet {
    background: var(--dropdown);
    background: var(--navbar);
    
}

@media screen and (min-width: 1024px){
    .swiper-slide img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18rem;
        object-fit:cover;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.884) 0px 10px 10px -10px;
    }
    .carousel-wrapper {
        width: 60%;
        margin: 0;
    }
    .swiper-slide img {
        height: 20rem;
    }
}

@media screen and (min-width: 1440px){
    .carousel-wrapper {
        width: 65%;
        margin: 0;
    }
    .swiper-slide img {
        height: 19rem;
    }
}