.icons {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .h1-equipment {
        width: 100%;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        color: var(--mainText);
        margin-top: 1rem;
    }

    .hr-floors{
        width: 100px;
        height: 2px;
        background-color: var(--dropdown);
        border: none;
        margin: 1rem;
    }

    .icons-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 0 0;
        max-width: 60rem;
    }

    .icon {
        width: 60px;
        height: 60px;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .icon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
    }

    .icon-description {
        display: none;
        font-weight: 600;
    }

    .icon:hover + .icon-description {
        display: block;
        text-align: center;
        width: 134px;  
    }

    .suitability-wrapper {
        text-align: center;
        padding: 0 1rem;

        .suitability {
            font-size: 1.1rem;
            font-weight: 400;
            padding-top: 1rem;
            color: var(--mainText);
        }
    }

}

@media screen and (min-width: 1024px){
    .icons-container {
        margin-top: 2.5rem;
    }

    .icons {
        .h1-equipment{
            font-size: 1.8rem;
        }
        .icon {
            width: 70px;
            height: 70px;
            margin: .5rem 2rem 0.5rem 2rem;
        }
    }
}