:root {
  --navbar: rgb(38, 15, 2);
  --dropdown: rgb(141, 81, 12);
  --background: rgb(255, 255, 255);
  --navFontColor: rgb(255, 255, 255);
  --mainText: rgb(82, 32, 3);
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400&display=swap');

body {  
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
